db/development.sqlite3
log/development.log
tmp/cache/assets/development/sprockets/*
public/uploads/*
tmp/pids/*
tmp/cache tmp/pids tmp/sessions tmp/sockets
tmp/cache/assets
db/development.sqlite3 db/schema.rb db/seeds.rb db/test.sqlite3
public/404.html public/422.html public/500.html public/favicon.ico public/robots.txt public/uploads

