<div class="bar-chart"></div>
<div class="mini-set-bar-chart"></div>
<div class="selected-colors"></div>
<p id="first">First Set</p>
<p id="second">Second Set</p>
<p id="third">Third Set</p>

<%= @colour_lover_pallet %>

