<p id="notice"><%= notice %></p>
<h1>Your Colors!</h1>

<% @array_for_api.each do |array| %>
<%= array[0] %><br>
<% end %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
