<div class="bar-chart"></div>
<div class="mini-set-bar-chart"></div>
<div class="selected-colors"></div>
  
<button id="first">First Set</button>
<button id="second">Second Set</button>
<button id="third">Third Set</button>
<button id="fourth">Fourth Set</button>
<button id="fifth">Fifth Set</button>

<div class="cmyk-pie-chart"></div>
<div class="rgb-pie-chart"></div>


