<%= image_tag("background-image.jpg", class:"bg") %>
  <div class='col-sm-6 col-sm-offset-3 custom-panel glow'>

   	<div id="site-title">
   		<center>PALETA</center>
   	</div>
	
		<div id="site-subtitle">
			<center>Color palette analysis & visualization</center><br>
		</div>

		<%= render 'form' %>
	</div>

