<div id="pic-new">

	<div class='col-sm-3'></div>
	     <div class='col-sm-6'>
	     	
	     	<div id="site-title">
	     		<center>Paleta</center>
	     	</div>
			
			<div id="site-subtitle">
				<center>Picture palette visualization and analysis for the creative professional</center><br>
			</div>

			<%= render 'form' %>
		</div>
	</div>
	

</div>



