<%= image_tag("background-image.jpg", class:"bg") %>



<div id="pic-new">

	<div class='col-sm-3'></div>
	     <div class='col-sm-6'>
	     	
	     	<div id="site-title">
	     		<center>PALETA</center>
	     	</div>
			
			<div id="site-subtitle">
				<center>Color palette analysis & visualization.</center><br>
			</div>

			<%= render 'form' %>
		</div>
	</div>
	

</div>



