/* Main Bar Chart*/

div.bar-chart{
  margin-bottom: 5px;
  margin-top: 5px;
}

.toggle-buttons{
  width: 788px;
  padding-left: 12px;
    div{
      width: 20%;
      float: left;
      button{
        margin: 0;
        border: none !important;
        padding: none !important;
        background: white;
      }
    }
}


/* Mini Bar Chart*/

.mini-chart {
  position: absolute;
  top: 50px;
  right: -82px;
  /*float: right;*/
}

body {
  background-color: black;
  font-family: 'Baskerville', serif;

}