/* Main Bar Chart*/

div.bar-chart{
  margin-bottom: 5px;
  margin-top: 5px;
}

.toggle-buttons{
  width: 788px;
  padding-left: 14px;
    div{
      width: 20%;
      float: left;
      button{
        margin: 0;
        border: none !important;
        padding: none !important;
        background: white;
      }
    }
}

.toggle-labels {
  font-family: 'Baskerville', serif;
  float: left;
  ;
}


/* Mini Bar Chart*/

.mini-set-bar-chart svg {
  position: relative;
  left: 100px;
  top: 70px;
}

.mini-chart {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  background-color: black;
  font-family: 'Baskerville', serif;

}