// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: white !important;
}

div#board-show-title{
	color: black;
	font-weight: 300;
	font-family: 'Baskerville', serif;
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 32px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}

div#board-show-subtitle{
	font-family: 'Baskerville', serif;
	font-size: 18px;
	font-style: italic;
	color: gray;
	padding-bottom: 20px;
}


/*Panels*/

.panel, .panel div {
  border: none !important;
}

.panel-heading {
  background: white !important;
  padding: none !important;
}

.d3-tip {
	background: white;
}









