// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#board-show-title{
	color: black;
	font-weight: 400;
	font-family: 'Baskerville', serif;
	margin-top: 2%;
	/*margin-bottom: 1%;*/
	font-size: 34px;
	/*border-bottom: 1px solid #eee;*/
	/*padding-bottom: 5px;*/
	padding-left: 20px;
}

div#board-show-subtitle{
	font-family: 'Baskerville', serif;
	font-size: 19px;
	font-style: italic;
	color: #939393;
	padding-bottom: 25px;
	padding-left: 20px;
}

.subtitle {
	font-family: 'Baskerville', serif;
}

.subtitle#suggested {
	font-size: 18px;
	color: #545454;
}

.subtitle#custom {
	font-size: 18px;
	color: #545454;
}

.instructions {
	font-family: 'Baskerville', serif;
	font-size: 16px;
	color: #939393;
	font-style: italic;
}

.instructions.brackets {
	padding-left: 15px;
}

.subtitle.aggregate {
	font-size: 16px;
	color: #939393;
}

.subtitle.complementary {
	font-size: 16px;
	color: #939393;
}

.subtitle.shades-tints {
	font-size: 16px;
	color: #939393;
}


/*Panels*/

.panel, .panel div {
  border: none !important;
}

.panel-heading {
  background: white !important;
  padding: none !important;
  font-family: 'Baskerville', serif;
  font-size: 1px;
}









