/*Custom Palette*/

.subtitle#custom {
  font-size: 16px;
  /*font-weight: 600;*/
  color: #545454;
}

#floating-palette {
  position: fixed;
  z-index: 1000;
  .panel, .panel-heading {
    background: rgba(0,255,255,.7);
  }
}

.suggested-palette {
  position: realtive;
  display: inline-block;
  margin-bottom: 10px;
}

div.selected-colors {
  font-size: 10px;
  padding-left: 2px;
  padding-top: 5px;
}

#selected-colors-div{
  height: 500px;
  overflow: auto;
}

.set-selection{
  width:100%;
  margin-bottom: 7px;
}

svg {
  margin: 0;
  padding: 0;
}

.selected-color{
  height: 50px;
}

.color-row {

  border-bottom: 2px solid #545454;
  padding: 6px 0 5px 0;

  .color-info {
    font-family: 'Baskerville', serif !important;
    font-size: 12px;
    float: left;
    width: 160px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
  }
  .color-box{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 0px;
    float: left;
  }
}

span#delete {
font-size: 33px !important;
color: #000;
top: -3px;
}