/*Pie Charts*/

.cmyk-pie-chart{
  padding-top: 12px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.rgb-pie-chart{
  margin-top: 15px;
}

.pie-charts-content{
  height: 347px;
}

.palette-styling{
  margin-bottom: 10px;
  width: 300px;
}
