/*Pie Charts*/

.cmyk-pie-chart{
  padding-top: 12px;
  padding-bottom: 10px;
  float: left;
  margin-right: 20px;
}

.rgb-pie-chart{
  position: relative;
  top: -4px;
}

.pie-charts-content{
  height: 347px;
}

.palette-styling{
  margin-bottom: 10px;
}

.panel-heading-d {

}